@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@layer base{
    body {
        font-family:'Readex Pro', sans-serif;
    }
    }

@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

html, body; #root {
    height: 100%;
}

/* .App{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
}

.ItemList{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.productCard{
   position: relative;
   background-color: var(--color-grey-primary); 
   margin: 1rem;
   display: inline-flex;
   flex-direction: column;
   max-width: 30rem;
   max-height: 50rem;
   transition: 0.2s;
}

.productCard:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage{
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
}

.productCard_cart{
    position: absolute;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

.productCard_content{
    margin: 2rem;
}

.productName{
    font-size: 1.5rem;
}

 */